@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rancho&family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rancho&family=Unbounded:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #3868FDDE;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    /* height: 100vh; */
    width: 100%;
    padding: 50px;
    max-width: 450px;
    border-radius: 15px;
    /* box-shadow: 0 10px 20px; */
    text-align: left;
}

.logo{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo img {
    width: 30px;
    height: auto;
}

.logo span{
    margin-left: 10px;
    font-weight: 500;
    font-family: 'Nunito Sans', sans-serif;;
    color: #2948FF;
}

.content{
    margin-bottom: 20px;
}
.content h1{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}
.content p{
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 20px;
}

.input__email{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.input__email label{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
}
.input__email input{
    padding: 12px;
    border: 1px solid lightgray;
    border-radius: 6px;
}
.input__email input:focus{
    border-color: lightcyan;
}
.submit{
    width: 100%;
    background-color: #2948FF;
    padding: 10px;
    border-radius: 10px;
    color: white;
    border: none;
    font-size: 16px;
}
.submit:hover{
    background-color: #3868FDDE;
}