/* Styling Khusus Halaman History */
.main-content{
    background-color: var(--color-primary);
}
.history-title-container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;

    h2{
        font-size: 20px;
    }
}

.title-icon {
    width: 24px;
    height: 24px;
}

.history-main-card {
    padding: 40px;
    border: 1px solid var(--color-third);
}

.history-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.history-controls h3 {
    font-size: 1.1rem;
    font-weight: var(--font-bold);
}

.search-wrapper {
    position: relative;
    width: 300px;
}

.search-wrapper input {
    width: 100%;
    padding: 12px 40px 12px 15px;
    border-radius: 12px;
    border: 1px solid var(--color-third);
    background-color: #fcfcfc;
    outline: none;
    font-size: 0.85rem;
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    opacity: 0.5;
}

/* Table-like rows */
.history-row {
    display: grid;
    grid-template-columns: 60px 1fr 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-bottom: 1px solid #f1f1f1;
    transition: 0.2s;
    
    &:nth-child(2n+1){
        background-color: var(--color-third);
    }
}

.name {
    font-weight: var(--font-medium);
    color: var(--text-muted);
}

.phone-number {
    color: var(--text-muted);
    font-size: 0.9rem;
}
.delete-btn {
    width: 20px;
    height: 20px;
}

.amount-status {
    font-weight: var(--font-bold);
    font-size: 0.95rem;
    text-align: right;
    padding-right: 40px;
}
.amount-status.pos {
    color: var(--green);
}

.amount-status.neg {
    color: var(--red);
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    margin-left: auto;
}

.delete-btn img {
    width: 25px;
    opacity: 0.7;
    transition: 0.3s;
}

/* .delete-btn:hover img {
    opacity: 1;
    filter: invert(30%) sepia(80%) saturate(2000%) hue-rotate(340deg);
} */

.history-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.show-text {
    font-size: 14px;
    color: var(--text-muted);
}

.page {
    display: flex;
    gap: 10px;
    align-items: center;
}

.page-link {
    font-size: 14px;
    color: var(--text-muted);
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 4px;
}

.page-link.active {
    color: var(--color-secondary);
    font-weight: var(--font-bold);
}

.page-link:hover:not(.active) {
    color: var(--text-dark);
}